@import '../utils';


$bd: 0.8rem;

#profile_img {
   height: 15rem !important;
   border: 4px solid #FFFFFF;
}

#profile_bg {
   height: 30vh;
   border-radius: $bd $bd $default $default;
}

#profile_card {
   margin-left: 10rem !important;
   border-radius: $bd;
}