@import '../utils';


@function getColor($key) {
   $result: map-get($colors, $key);
   @debug 'Color: ' + $result; // Console Output
   @return $result;
}

#profile_img {
   height: 14.5rem !important;
   background-color: #ACABAB;
   border: $pad solid getColor('white');
}

#profile_bg {
   height: 30vh;
   border-radius: $br $br $default $default;
}

#profile_card {
   border-radius: $br;
}

#collegamenti {
   position: relative;
   bottom: ($pad + 1) * -1;
}

@media(min-width: 992px) {
   #mll {
      margin-left: 9.5rem !important;
   }
}

@media (max-width: 769px) {
   #search {
      display: none;
   }
}