@import '../feed/index';


@function getColor($key) {
   $result: map-get($colors, $key);
   @debug 'Color: ' + $result; // Console Output
   @return $result;
}

#profile_img {
   height: 14.5rem !important;
   background-color: #ACABAB;
   border: $pad solid getColor('white');
}

#profile_bg {
   height: 27vh;
   border-radius: $br $br $default $default;
}

#profile_card {
   border-radius: $br;
}

b.c {
   position: relative;
   bottom: ($pad + 1) * -1;
}

table.richieste {
   border-color: getColor('black') !important;
}

thead.richieste {
   color: getColor('white');
   background-color: #343A40;
   border-color: #454D55;
}

tr.linked {
   display: none;
}


@media(min-width: 992px) {
   #mll {
      margin-left: 9.0rem !important;
   }
}

@media(max-width: 575px) {
   #username-container {
      margin-top: 1.5rem !important;
   }
}