$default: 0;
$fs: 100%;
$pad: 4px;
$br: 0.8rem;
$colors: (
        'white': #FFFFFF,
        'grey': #E7E6E6BA,
        'black': #000000,
        'lightBlue': #B9DDEF,
        'blue': #0A66C2,
        'darkBlue': #004182,
        'primary': #0073B1,
);


