@import '../login/index';


$black: #000009;

#subtitle {
   color: $black;
   font-weight: 400;
   font-size: 2.0rem;
   line-height: 1.25;
}

label {
   color: $black;
   font-size: 0.9rem;
}

#form-card {
   padding-bottom: 6vh !important;
}

#accediBTN {
   font-size: 18px;
}

select:hover {
   cursor: pointer;
}

select:focus{
   font-weight: bold;
}