@import '../variables';


@function getColor($key) {
   $result: map-get($colors, $key);
   @debug 'Color: ' + $result; // Console Output
   @return $result;
}

html, body {
   font-size: $fs !important;
}

#form-card {
   border-radius: ($pad * 3);
   box-shadow: $default $pad ($pad * 3) rgb(0 0 0 / 15%) !important;
   background-color: getColor('white');
}

.primaryBG {
   background-color: getColor('primary') !important;
   color: getColor('white') !important;
}

.primaryTXT {
   color: getColor('primary');
   display: inline-block;
}

.primaryTXT:hover {
   background-color: getColor('lightBlue');
   padding: $default $pad !important;
   border-radius: ($pad * 7) !important;
}

#passwordDimenticata {
   font-size: $fs;
}

#accediBTN {
   border-radius: ($pad * 7) !important;
   font-size: ($fs + 4);
   position: relative;
   bottom: ($pad * 2) * -1;
}

#accediBTN:hover{
   background-color: getColor('darkBlue') !important;
}

#header {
   position: relative;
   top: ($pad * 4) * -1;
}

.inputTXT {
   border-radius: ($pad * 2);
   color: getColor('black') !important;
}

.inputTXT:focus {
   box-shadow: $default $default $default 1px getColor('blue') !important;
}

#show {
   position: absolute;
   right: 21px;
   bottom: 1px;
}

.p-5 {  // overwrite a Bootstrap class
   padding: 2.8rem !important;
}

