@import '../utils';

@function getColor($key) {
   $result: map-get($colors, $key);
   @debug 'Color: ' + $result; // Console Output
   @return $result;
}

* {
   margin: $default;
   padding: $default;
}

html, body {
   font-family: -apple-system, system-ui, BlinkMacSystemFont,
   "Segoe UI", Roboto,
   "Helvetica Neue",
   "Fira Sans",
   Ubuntu,Oxygen,
   "Oxygen Sans",
   Cantarell,
   "Droid Sans",
   "Apple Color Emoji",
   "Segoe UI Emoji",
   "Segoe UI Emoji",
   "Segoe UI Symbol",
   "Lucida Grande",
   Helvetica,
   Arial,
   sans-serif
   !important;
   font-size: $fs !important;
   background: transparent;
}

#card {
   border-radius: ($pad * 3);
   box-shadow: $default $pad ($pad * 3) rgb(0 0 0 / 15%) !important;
   background-color: getColor('white');
}

.primaryBG {
   background-color: getColor('primary') !important;
   color: getColor('white') !important;
}

.primaryTXT {
   color: getColor('primary');
   display: inline-block;
}

.primaryTXT:hover {
   background-color: getColor('lightBlue');
   padding: $default $pad !important;
   border-radius: ($pad * 7) !important;
}

#passwordDimenticata {
   font-size: $fs;
}

#accediBTN {
   border-radius: ($pad * 7) !important;
   font-size: ($fs + 4);
   position: relative;
   bottom: ($pad * 2) * -1;
}

#accediBTN:hover{
   background-color: getColor('darkBlue') !important;
}

#header {
   position: relative;
   top: ($pad * 4) * -1;
}

.inputTXT {
   border-radius: ($pad * 2);
   color: getColor('black') !important;
}

.inputTXT:focus {
   box-shadow: 0 0 0 1px getColor('blue') !important;
}

#show {
   position: absolute;
   right: 21px;
   bottom: 1px;
}

.p-5 {  // overwrite a bootstrap class
   padding: 2.8rem !important;
}

