@import '../_utils.scss';


$b: 2px solid #000000;

$max: 100%;

body {
   background-color: #f5f5f5;
}

nav {
   background-color: #FFFFFF;
}

#search {
   background-color: #EEF3F8;
}

.form-group {
   border-radius: 0.8rem !important;
   background-color: #FFFFFF !important;
}

#card {
   border: $b;
}

img {
   height: 16.5rem !important;
   border-bottom: $b;
}

input:hover, button:hover {
   cursor: pointer;
}

[type=text] {
   border-radius: 35px !important;
}

[type=file] {
   position: absolute;
   top: $default;
   right: $default;
   font-size: $max;
   width: $max;
   height: $max;
   opacity: $default;
   outline: none;
   display: block;
}

