@import '../_utils.scss';


$b: 1px solid #000000;
$br: 0.8rem;
$max: 100%;


.form-group {
   border-radius: $br !important;
   background-color: #FFFFFF !important;
}

#card {
   border: $b;
}

#post_img {
   height: 16.5rem !important;
   border-bottom: $b;
   border-radius: $br $br $default $default !important;
}

button:hover {
   cursor: pointer;
}

[type=text] {
   border-radius: 35px !important;
}

[type=file] {
   position: absolute;
   top: $default;
   right: $default;
   font-size: $max;
   width: $max;
   height: $max;
   opacity: $default;
   outline: none;
   display: block;
}


