@import '../login/index';


$b: 1px solid #000000;
$br2: ($br / 3);
$max: 100%;

.form-group {
   border-radius: $br !important;
   background-color: #FFFFFF !important;
}

#card {
   border: $b;
}

#post_img {
   height: 16.5rem !important;
   border-bottom: $b;
   border-radius: $br2 $br2 $default $default;
}

button:hover {
   cursor: pointer;
}

[type=text] {
   border-radius: ($pad * 9) !important;
}

[type=file] {
   position: absolute;
   top: $default;
   right: $default;
   font-size: $max;
   width: $max;
   height: $max;
   opacity: $default;
   outline: none;
   display: block;
}

option:checked  {
   color: #008000FF;
}

select.postsOrder:focus {
   font-weight: bold;
}

@media(max-width: 575px) {
   [name = 'postsOrderType'] {
      margin-top: 2rem !important;
   }
}
